@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

.wrapper{
    display: grid;
    width: 50%;
    margin:10% auto;
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr;
}

.result-section{
    background-image:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: hsl(221, 100%, 96%);
    padding: 3rem;
    text-align: center;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; */
    border-radius:30px;
   
}
.result-section> span,h2{
    margin-top: 2.1rem;    
}
.result-section h1{
    font-size:5rem;
    font-weight: 800;
}
p.wrap{
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.score-circle{       
height: 12rem;
width: 12rem;
background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
border-radius: 50%;
display: inline-flex;
flex-direction: column;
color: white;
text-align: center;
justify-content: center;
}


.summary-section{
    background-color: white;
    padding: 3rem;
    border-radius: 40px 0 30px 0px;
    box-shadow: 16px 17px 20px hsl(221, 100%, 96%);
    border: none;
}
.summary-section>h2{
    color:hsl(224, 30%, 27%) ;
    font-weight: 800;
}
.score-box{
    margin-top: 1.2rem;
    display: flex;
    padding:1rem;
    border-radius: 8px;   
}
.reaction{
    color: hsl(0, 100%, 67%);
    background-color:hsla(0, 100%, 67%, 0.072) ;
}

.memory{
    color: hsl(39, 100%, 56%);
    background-color:hsla(39, 100%, 56%, 0.076);    
}
.verbal{
    color:hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.039) ;
}
.visual{
    color:hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.056);
}
p.flex-item2{
    flex-grow: 2;
    margin-left:5px;
}
button{
    background-color:hsl(224, 30%, 27%); 
    color: hsl(0, 0%, 100%);
    padding: 1.2rem;
    border-radius:500px;
    display: inline-block;
    width: 100%;
    margin-top: 3rem;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
button:is(:hover,:active){
    background-image:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;

}
.summary-section span{
    color: hsl(224, 30%, 27%);
    font-weight: bolder;
}